.tablist {
    background-color: rgb(255, 255, 255);
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #9B9B9B;

}

.appbar {
    background: #fff;
}

.tab-items {
    color: #9B9B9B;
    width: 900px;

}