.bodyCard-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(182, 202, 251, 0.606827);

    div {
        display: flex;
    }

    
}
.body-card {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    span {
        margin-top: 30px;
    }
}

.more {

    a {
        margin-top: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #4E72CA;
    }
    

   
}

.search-section {

    .searchInput {
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
        input {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height */

            border: none;
            outline: none;
            color: #414D6A;
        }
    } 
}

