.header-container.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
  
}

.headerContainerWrapper {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 12px 4px 24px rgba(0, 0, 0, 0.0647645);
    position: sticky;
    top: 0;
    z-index: 999;
    margin-top: 10px;
    margin-bottom: 17px;
}